on: workflow_dispatch

jobs:
  restore-tools:
    if: github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - id: toolchain
        uses: dtolnay/rust-toolchain@stable

      # Check if there are caches before. If there is some, the typst-cli
      # should be installed.
      - id: restore
        uses: actions/cache/restore@v4
        with:
          key: cargo
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/

      - name: Install git-cliff
        run: cargo install git-cliff || true

      - name: Install sd
        run: cargo install sd || true

      - name: Cache Cargo
        uses: actions/cache/save@v4
        with:
          key: cargo
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/

  bump-version:
    if: github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    steps:
      - name: Restore Tools
        uses: actions/cache/restore@v4
        with:
          key: cargo
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/

      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
          token: ${{ secrets.SYSU_BOT_TOKEN }}
          persist-credentials: true
          lfs: true

      - name: Set bumped version enviornment
        run: |
          BUMPED_VERSION=$(git cliff --bumped-version --unreleased)
          echo "BUMPED_VERSION=$BUMPED_VERSION" >> $GITHUB_ENV
          SEMVER=$(echo $BUMPED_VERSION | sd 'v(.*)' '$1')
          echo "SEMVER=$SEMVER" >> $GITHUB_ENV

      - name: Generate release note for tagging
        run: |
          git cliff --bump --unreleased > release-note.md

      - name: Bump typst.toml
        run: |
          sd 'version = ".*"' "version = \"$SEMVER\"" $CI_PROJECT_DIR/typst.toml
          git add $CI_PROJECT_DIR/typst.toml

      - name: Bump template/thesis.typ
        run: |
          sd '"@preview/modern-sysu-thesis:.*"' "\"@preview/modern-sysu-thesis:$SEMVER\"" $CI_PROJECT_DIR/template/thesis.typ
          git add $CI_PROJECT_DIR/template/thesis.typ

      - name: Update & stage CHANGELOG.md
        run: |
          git cliff --unreleased --tag $BUMPED_VERSION --prepend CHANGELOG.md
          git add $CI_PROJECT_DIR/CHANGELOG.md

      - run: git status

      - name: Tag commit
        run: |
          git commit -m "chore(release):prepare for $BUMPED_VERSION"
          git tag $BUMPED_VERSION --file=release-note.md

      - name: push to upstream
        run: git push origin
